doctype html
html(lang="en")

	head
		title Bridgestone
		link(rel="stylesheet", href="css/main.css")
		
	body

		script.
			//объект доступных дат - месяцы нумеруются от 0, доступная дата должна быть с ключом 1. Есть возможность разную загрузку доступных дат делать.
			window.dateObj=[
				
				{
					day: 10,
					month: 2,
					year: 2017,
					load: 1
				},
				{
					day: 11,
					month: 2,
					year: 2018,
					load: 1
				},
				
				{
					day: 13,
					month: 3,
					year: 2017,
					load: 1
				},
				{
					day: 14,
					month: 3,
					year: 2017,
					load: 1
				}]
			/////////////////////////

		section.workspace-content
			nav
				a(href="index.html").active.play 
					span Вебинары
				a(href="section.html").study 
					span Обучающие презентации

			.layout-content
				h1	Стандарты продаж
				.p.date-of-siminar	Дата проведения
					span	Вт 20-00, сб 18-00

				.photo
					img(src="img/content.png")

				.desc	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse			cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.strong						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				h2	Запись на 
					span стандарт продаж (вт 20-00, сб 18-00)

				.desc	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.





				form.call2action
					.ib
						p 1. Выберите дату
						p вт 20-00, сб 18-00

						.calendar
							input#calendar.flatpickr(type="hidden", data-inline="true", placeholder="Выберите дату вебинара")


					.ib
						p 2. Выберите свободное место.
						p Всего мест: 12
						- for(var i=1; i<13; i++){
							label(for="id"+i)
								span=i
								input(type="radio", name="place", id="id"+i)
						- }
						
					.ib
						p 3. Укажите информацию для связи с Вами
						br
						input(type="text", name="name", placeholder="Имя")
						br
						input(type="text", name="phone", placeholder="Телефон")
						br
						input(type="email", name="email", placeholder="Email")
						br

						button Бронировать

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		script(src="js/main.js")


		script.
			//для демонстрации - убрать на продакшине
				$(document).ready(function(){
				
					$('label').each(function(index){
						if(index<3)
							$(this).addClass('disabled').find('input').attr('disabled',true)
					})
				})

		style|	
			| body{
			|	margin: 0;
			|	padding: 0;
			|	background-color: #e6e9ee;
			|	}
