doctype html
html(lang="en")

	head
		title Bridgestone
		link(rel="stylesheet", href="css/main.css")
		
	body

		script.
			//объект доступных дат - месяцы нумеруются от 0, доступная дата должна быть с ключом 1. Есть возможность разную загрузку доступных дат делать.
			window.dateObj=[
				
				{
					day: 10,
					month: 2,
					year: 2017,
					load: 1
				},
				{
					day: 11,
					month: 2,
					year: 2017,
					load: 1
				},
				
				{
					day: 13,
					month: 3,
					year: 2017,
					load: 1
				},
				{
					day: 14,
					month: 3,
					year: 2017,
					load: 1
				}]
			/////////////////////////

		section.workspace-content
			nav
				a(href="index.html").play 
					span Вебинары
				a(href="section.html").study.active
					span Обучающие презентации

			.webinars
				- for(var i=0; i<7; i++){
					article
						img(src="img/content.png")
						.p15
							p.name Стандарты продаж
							p.date-of-siminar Дата проведения
								span вт 20-00, чт 15-15
							.desc
								- if(i==2){
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								- }
								- else{
									| veniam,				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non				proident
								- }




							.buttons
								button Регистрация
								a.button Вебинар
				- }


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		script(src="js/main.js")


		//отладка, убрать на деплое
		style|	
			| body{
			|	margin: 0;
			|	padding: 0;
			|	background-color: #e6e9ee;
			|	}
