@import "../../build/css/sprite.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Ubuntu:400,700');



$cHeaders: #252525;
$cGreen: #04A531;
$cGray: #9AA0B0;
$cCalendarH: #323035;
$cCalendarDaysNames: #AFAFAD;
$cHeaderColumn: #798291;

$cDesc: #7B8793;
$cHeaderGray: #7B8793;

$cInputT: #232323;
$cInputPlaceholder: #787E8E;
$cLabelPlace: #9A9EAA;

$cTWhite: #FFDFD9;

$bgDate: #D4DDE4;
$bgButton: #FE0000;
$bgDayHover: #DAE1E9;
$bgDayActive: $bgButton;
$bgCalendarH: #EEEEEE;

$arrowCalendarBlue: $bgCalendarH;


.workspace-content{
	font-family: Ubuntu, Tahoma;
	margin: 20px 45px;
	color: #252525;
	h1,h2{
		color: $cHeaders;

	}
		h1{
			font-size: 30px;
			text-transform: uppercase;
		


		}

	a{
		color: inherit;

	}
	
	.ib{
		display: inline-block;
	}


	button, a.button{
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				min-width: 45%;
				$h:30px;
				height: $h;
				line-height: $h;
				border-radius: $h/2;
				padding: 0 5px;
				margin: 5px 5px;
				text-align: center;
				cursor: pointer;
			}
			button{
				outline: none;
				border: none;
				background-color: red;
				color: white;
			}
			a.button{
				background-color: #ccc;
				text-decoration: none;
			}
			


	//////////////////////////////////navigation/////////////////////////////////
	nav{
		display: block;
		a{
			$w: 165px;
			$mr: 30px;
			width: $w;
			display: inline-block;
			vertical-align: top;
			//margin-left: 15px;
			margin-right: $mr;
			text-decoration: none;
			font-family: Roboto;
			font-weight: bold;
			font-size: 18px;
			white-space: nowrap;

			&.active{
				color: $cGreen;
			}

			&:before{
				content: '';
				display: inline-block;
				@extend .icon-icon-play-gray;
				margin-right: $mr/2;
				vertical-align:middle;
				&.active{
					@extend .icon-icon-play;
				}
			}
				&.study:before{
					@extend .icon-icon-study-gray;
					&.active{
						@extend .icon-icon-study;
					}
				}

				span{
					display: inline-block;
					vertical-align: top;
					width: $w - $mr - 22px;
					white-space: normal;
				}
		}
	}

		.desc{
			color: $cDesc;
			font-size: 13px;
			line-height: 18px;

			.strong{
				color: $cHeaders;
			}
		}

		.date-of-siminar{
			font-size: 12px;
			color: black;
			span{
				background-color: $bgDate;
				display: inline-block;
				border-radius: 10px;
				text-transform: uppercase;;
				padding: 2px 8px;
				margin-left: 8px;
				color: $cHeaderGray;
			}

		}


	//////////////////////////////////content///////////////////////////////////
	.layout-content{
		background-color: white;
		margin-top: 40px;
		padding: 15px 30px 60px 15px;
		max-width: 1200px;
		box-shadow: -3px 3px 10px #ccc;
		font-size: 	15px; 

		h1{
			margin: 5px 0 5px 0;
			font-weight: 	500;
		}

			.date-of-siminar{
				font-size: 	15px;
				span{
					padding: 	5px 10px;
					border-radius: 15px;
					color: $cHeaders;
				}

			}

			
			$mtContent:25px;

			.photo{
				margin-top: 	$mtContent;
				float: left;
				margin-right: 30px;
			}
			.desc{
				margin-top: 	$mtContent;

				&:after{
					content: '';
					width:100%;
					display: block;
					float: none;
					clear: both;
				}

				.strong{
					margin-top: 20px;
					font-weight: bold;
				}
			}


		h2{
			margin-top: 45px;
			margin-bottom: 	-10px;		// ###костыль, чтобы не менять верстку###
			font-size: 	18px;
				span{
					text-transform: 	uppercase;
				}
		}




		////////////////////////////////////////////////////////////////////////////
		form{
			white-space: nowrap;
			padding-top: 	60px;

			display: block;
			display: flex;
			justify-content: space-between;

			//колонки
			.ib{
				display: inline-block;
				vertical-align: top;
				width: 	30%;
				max-width: 300px;
				padding: 0 1%;
				border-right: 2px solid $bgCalendarH;
				white-space: normal;
				color: $cGray;
				&:last-of-type{
					border: none;
				}

				p{
					margin: 	0 0 0px 0;
					font-weight: 700;
					line-height: 	24px;
					color: $cHeaderColumn;
				}

				$mtFormContent: 30px;
				.calendar{
					margin-top: 	$mtFormContent;
				}

				//места
				label[for]{
					display: inline-block;
					text-align: center;
					position: relative;
					margin: 50px 5px 0px 5px;
					cursor: pointer;
					color: $cLabelPlace;
					@extend .icon-icon-people-gray2;
					
					&:hover,&.active{
						@extend .icon-icon-people-red;
					}
					&.disabled{
						@extend .icon-icon-people-gray;
						&:hover{
							@extend .icon-icon-people-gray;
						}
					}
					input[type=radio]{
						display: none;
					}
					span{
						display: block;
						position: relative;
						top: -20px;
					}
				}

				input[type=text],
				input[type=email]{
					height: 25px;
					width: 90%;
					margin: 	 $mtFormContent* 0.7 5% 12px 5%;
					border: none;
					outline: none;
					color: $cHeaders;
					font-size: 	15px;

				}

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	 				 color: $cGray;
	 				 font-size: 14px;
					}
				::moz-placeholder { /* Firefox 19+ */
	 				 color: $cGray;
	 				 font-size: 14px;
				}
				:-ms-input-placeholder { /* IE 10+ */
	  				color: $cGray;
	  				font-size: 14px;
				}
				:-moz-placeholder { /* Firefox 18- */
	 				color: $cGray;
	 				font-size: 14px;
				}

				button{
					width: 	90%;
					margin-top: 	15px;
					height: 	40px;
					border-radius: 20px;
					font-size: 	15px;
					letter-spacing: 0.5px;
				}
			}
		}
	}




	///////////////////////////////////////////////////////SECTION//////////////////////////
	.webinars{
		display: block;	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between; 
		//align-content: space-between;
		margin: 50px 0px;
		align-items: stretch;

		article{
			display: inline-block;
			background-color: white;
			width: 300px;
			margin-bottom: 30px; 
			position: relative;
			box-shadow: 3px 3px 20px #999;
			img{
				width: 100%;
			}

			.p15{
				padding: 15px;
			}
		
			p.name{
				margin: 0 0 8px 0;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;
			}
			p.date{
				span{}
			}
			.desc{
				margin-top: 15px;
			}

			&:before{
				background-color: white;
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 15px;
				z-index: 11;
			}
			.buttons{

				background-color: white;
				position: absolute;
				overflow: hidden;
				height: 0;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 10;
				padding: 0px 10px;
				box-shadow: 3px 3px 20px #999;

				-webkit-transition: height 600ms;
				-moz-transition: height 600ms;
				-o-transition: height 600ms;
				transition: height 300ms 200ms;

			}

			&:hover .buttons{
				height: 55px;
				transition: height 300ms 300ms;
			}
			}
	}
}


@import "flatpickr.min.scss";




















































